<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{$meta:keywords}">
    <meta name="description" content="{$meta:description}">
    <meta name="author" content="FlexKit">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="480">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    {% block  stylesheets %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <link href="{{ asset('assets/css/reset.css') }}"   rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/content.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/nav.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/flexkit.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/photo.css') }}" rel="stylesheet" media="all">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-smartphoto.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
    <script src="{{ asset('assets/js/plugin/jquery.cycle2.min.js') }}"></script>
    <script src="{{ asset('assets/js/system/storage/_flexkit/1.m.responsiveTable.js') }}"></script>
    <script src="{{ asset('assets/js/system/storage/_flexkit/2.fp.dialog.js') }}"></script>
    <script src="{{ asset('assets/js/system/flexkit.min.js') }}"></script>
    <script src="{{ asset('assets/js/system/ie-pack.min.js') }}"></script>
{% endblock %}