{% extends 'head.html.twig' %}
{% block body %}
    <header class="wrap line-header -transparent d-visible">
        <h1 class="grid_4 logo" itemscope="" itemtype="http://schema.org/Organization">
            <a href="#" title="2 PX" itemprop="url" class="current">
            </a>
        </h1>
        <nav id="main-menu" class="grid_8 d-visible">
            <ul class="main_menu">
                <li class="category cat-1">
                    <a  href="{{ path('index') }}">Главная</a>
                </li>
                <li class="category cat-1">
                    <a href="{{ path('contacts') }}">Контакты</a>
                </li>
                <li class="category cat-1">
                    <a href="{{ path('sign_in') }}">Вход</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section class="grid_12" role="main">
            <h2 class="text-center">Информация о фильме</h2>
            <ul class="today list-movies text-center">
                <li>
                    <img src="{{ asset('assets/img/uploads/' ~ movie.poster) }}" alt="{{ movie.title }}" ><br>
                </li>
            </ul><br />
            <table class="responsive grid_12 text-center">
                <tbody>
                    <tr>
                        <td>Название </td>
                        <td>
                            {{ movie.title }}</td>
                    </tr>
                    <tr>
                        <td>Жанр :</td>
                        <td>{{ movie.genre }}</td>
                    </tr>
                    <tr>
                        <td>Страна :</td>
                        <td>{{ movie.country }}</td>
                    </tr>
                    <tr>
                        <td>Актёры</td>
                        <td>{{ movie.actors }}</td>
                    </tr>
                    <tr>
                        <td>Режиссёр</td>
                        <td>{{ movie.director }}</td>
                    </tr>
                    <tr>
                        <td>Премьера</td>
                        <td>{% if movie.premier %}{{ movie.premier|date('d-m-Y ') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>{{ movie.description }}<br/></td>
                    </tr>
                </tbody>
            </table>
            <div class="grid_12 mt30px">
                <h2 class="text-center">Трейлер</h2>
                <video  class="grid_12" controls>
                    <source src="{{ path('trailer', {'name': movie.trailer}) }}">
                </video>
            </div>
                <div class="grid_12 mt30px">
                    <h2 class="text-center">Кадры из фильма</h2>
                    <ul class="today list-movies">
                        {% for screen in screenshots %}
                            <li>
                                <a href="{{ asset('assets/img/uploads/' ~ screen) }}" class="js-smartPhoto"  data-caption="{{ movie.title }}">
                                    <img src="{{ asset('assets/img/uploads/' ~ screen) }}"  width="150" height="81" alt="{{ movie.title }}" >
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <script>
                        $(function(){
                            $(".js-smartPhoto").SmartPhoto();
                        });
                    </script>
                </div>
        </section>
    </div>

    <footer>
        <div class="container">
            <div class="grid_6 t-grid_3 col_left">
                <p class="tel">Единая справочная - <br /> 0550 36 42 39</p>
                <p>С 8:00 до 23:00 <br/> Бесплатно по стране с любого номера</p>
            </div>
            <div class="grid_6 t-grid_3 text-right col_right">
                <p>Необходима помощь? - Пишите:</p>
                <a href= "#" itemprop="email">support@2px.kg</a>
            </div>
        </div>
    </footer>

    <div class="mobile-bar top clearfix">
        <span class="btn icon-menu" data-refer="main"></span>
        <span class="title">Подробнее</span>
    </div>

    <aside class="m-menu  left" data-el="main">
        <div class="menu-top-header">
            <ul class="main_menu">
                <li class="category  cat-1">
                    <a href="{{ path('index') }}">Главная</a>
                </li>
                <li class="category  cat-2">
                    <a href="{{ path('contacts') }}">Контакты</a>
                </li>
                <li class="category  cat-2">
                    <a href="{{ path('sign_in') }}">Вход</a>
                </li>
            </ul>
        </div>
    </aside>


    <!-- Bottom bar for mobile, with button show/hide menu -->
    <div class="mobile-bar bottom clearfix">
        <div class="_column_5 margin-none one-line large">
            <!-- Include social share link -->
        </div>
    </div>
    <!-- mobile loader -->
    <span class="mobile-loader"></span>
{% endblock %}